<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.course.dao.UserCourseDao">

    <select id="statisticUserCourse" resultType="hashmap">
        SELECT course_id AS courseId, COUNT(DISTINCT user_name) AS userCount
        FROM user_course
        GROUP BY course_id;
    </select>
    <select id="list" resultType="com.learning.course.entity.UserCourse">
        select * from user_course
    </select>
    <select id="getCourseCompletionStats" resultType="java.util.Map">
        SELECT
            course_id,
            COUNT(*) AS total_learners,
            SUM(is_completed) AS completed_learners
        FROM
            user_course
        GROUP BY
            course_id
    </select>
    <select id="statisticCountOf7Days" resultType="java.util.Map">
        SELECT
            DATE(update_time) AS user_course_date, -- 提取日期部分，作为分组依据和返回的日期
            COUNT(*) AS count                     -- 统计每个分组（即每一天）
        FROM
            user_course
        WHERE
            update_time >= CURDATE() - INTERVAL 7 DAY -- 筛选条件：创建时间大于等于7天前的日期（包含今天）
        GROUP BY
            user_course_date                       -- 按提取出的日期进行分组
        ORDER BY
            user_course_date;                      -- 按日期升序排序（可选，让结果更清晰）
    </select>
</mapper>
